.skill-head{
    background-color: burlywood;
    border-radius: 75px;
    height: 300px;
}

.skill-para{
    color: black;
}

.proj-head{
    background-color: burlywood;
    border-radius: 75px;
    height: 300px;
}

.proj-para{
    color: black;
    text-align: center;
    font-size: 16px;
}
#project{
    width: 50%;
}
.proj-head {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    #home h1 span {
        font-size: 30px;
    }

    #about p, .proj-para, .skill-para {
        font-size: 16px;
    }

    .container {
        padding: 20px;
    }
}
